<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container">
        @RenderBody()


    </div>

    @Html.Partial("_Footer")
    @Scripts.Render("~/bundles/popper") @* Always put scripts on the bottom of the file so that users can atleast 
                                            see the app ui . js will be downloaded later 
                                            ---it will be downloaded at the end *@ 
    @*@Scripts.Render("~/bundles/boostrap")*@

    <script src="~/Scripts/bootstrap.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/bundles/datatable")

    @RenderSection("scripts", required: false)
</body>
</html>
