@model Vidly.ViewModels.CustomerFormViewModel
@{
                /**/

                ViewBag.Title = "New";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Save", "Customers"))
{

    <div class="col-md-4 mb-3">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
    </div>
    <div class="col-md-4 mb-3">
        @Html.LabelFor(m => m.Customer.Birthdate)
        @Html.TextBoxFor(m => m.Customer.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="col-md-4 mb-3">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-select" })
    </div>
    <div class="col-md-4 mb-3">
        <div class="form-check form-switch">
            @Html.LabelFor(m => m.Customer.IsSubscribedToNewsletter, new { @class = "form-check-label" })
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter, new { @class = "form-check-input" })
        </div>
    </div>

    @Html.HiddenFor(m=>m.Customer.Id)
    <button class="btn btn-secondary" type="submit">Submit</button>
}

