@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@Html.ActionLink("Create", "CustomerForm", null, new { @class = "btn btn-primary mb-3" })
@if (!Model.Any())
{
    <p>We Don't have any customer</p>
}
else
{
    <table id="customers" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Customers</th>
                <th scope="col">Membership Type</th>
                <th scope="col">Delete</th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@customer.Name, "Edit", new { @customer.Id })</td>
                    <td>@customer.MembershipType.Name</td>
                    <td><button data-customer-id="@customer.Id" class="btn btn-link js-delete">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers .js-delete").on("click", function () {
                var button = $(this);
                if (confirm("Are You Sure To Delete The Customer ?"))
                {
                    $.ajax({
                        url: "/api/customers/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>
}

